# Godot 4+ specific ignores
.godot/
scenes/rooms/garden/autosave
/scenes/rooms/dungeon/autosave
scenes/rooms/dungeon/autosave/cafeteria.10.map
/scenes/rooms/castle/autosave
/scenes/rooms/graveyard/autosave
